*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

a{
   text-decoration: none;
}
main{
   /* background:linear-gradient(to top, rgba(0,0,0,0.9)50%,rgba(0,0,0,0.9)50%), url(./image/maritime-vessel.jpg); */
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    /* background: transparent; */
    gap: 25%;
    border-bottom: 1px;
    height: 10vh;
    /* background-size: cover;
    background-position: top; */
    position: sticky;
    top: 0;
    z-index: 7678;
}

.navmenu{
    display: flex;
    gap: 30px;
    /* align-items: center; */
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
}


.navmenu h3:hover{
    color: #138AB9;
}


 

.landing{
    background:linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%), url(./image/maritime-vessel.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;
    padding-left: 150px;
    margin-top: -10vh;
 }
 
 .landing h2{
    padding: 150px 50px 50px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
 }

 .landing h1{
    color: #fff;
    padding-bottom: 20px;
    font-size: 50px;
 }

 .landing p{
    color: rgb(156, 156, 156);
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
 }

 .landing h3{
    background-color: #fff;
    color: black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 28px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease-out;
   
    
 }

 .landing h3:hover{
    background-color: #138AB9;
 }

 .bord{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #138AB9;
    color: #fff;
    font-size: 25px;
    padding: 25px;
 }
 .imagebox{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    height: 60vh;
    align-items: center;
 }
 .flip-box1 {
    background-color: transparent;
    width: 350px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    transform: translateY(50%);
  }
  .flip-box1{
   transition: opacity 250ms ease-in, transform 400ms ease-in;
   /* transform: rotate(30dg); */
   opacity: 0;
}

.flip-box1.appear{
   transform: translateY(0);
   opacity: 1;
}

  
  .flip-box1-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box1:hover .flip-box1-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box1-front, .flip-box1-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /* .flip-box-front2, .flip-box-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  .flip-box-front3, .flip-box-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  } */
  
  .flip-box1-front {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./image/605f9f7194a74.jpg);
    background-position: center;
    background-size: cover;
  }
  
  .flip-box1-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    background:linear-gradient(to top, rgba(0,0,0,0.9)50%,rgba(0,0,0,0.9)50%), url(./image/605f9f7194a74.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
     flex-direction: column;
    align-items: center;
    padding: 50px;
   }
 
.flip-box1-back h3 {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}
.flip-box1-back h3:hover{
   background-color: #138AB9;
   
}

.container1{
   display: flex;
   justify-content: center;
   gap: 10px;
   align-items: center;
   margin: 40px 0;
   background-color: #e6e6e6;
   padding: 30px 0;
   width: 100%;
}

.contin{
   /* transform: translateX(50%); */
}

.container1 img{
   width: 540px;
   height: 277.09px;
}
.container1 h2{
   font-size: 20px;
   display: flex;
   justify-content: center;
}

.contin p{
   color: #54595F;
   font-size: 15px;
   transform: translateX(50%);
}
/* .contin, */
.contin p{
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    /* transform: rotate(30dg); */
    opacity: 0;
}

/* .contin.appear{
    transform: translateX(0);
    opacity: 1;
    
} */
.contin p.appear{
    /* transform: rotate(35deg); */
    opacity: 1;
    transform: translateX(0);
}

.star{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 50px 0;
}
.starrgt{
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 0px;
   row-gap: 0px;
   /* border: 1px solid black; */
}
.starrgt1{
   border: solid rgb(216, 216, 216);
   border-left: 0.1px;
   border-top: 0.1px;
   outline: none;
   padding: 20px;
   padding-right: 70px;
   transform: translateX(-50%);
   transition: opacity 250ms ease-in, transform 400ms ease-in;
  transform: rotate(45deg);
  opacity: 0;
}

.starrgt1.appear{
   /* transform: rotate(30deg); */
   transform: rotate(0);
   opacity: 1;
}


.starrgt2{
   border: solid rgb(216, 216, 216);
   border-left: 0px;
   border-top: 0px;
   border-right: 0;
   outline: none;
   padding: 20px;
   padding-left: 70px;
   transition: opacity 250ms ease-in, transform 400ms ease-in;
  transform: rotate(-45deg);
  opacity: 0;
}
.starrgt2.appear{
   /* transform: rotate(30deg); */
   transform: rotate(0);
   opacity: 1;
}
.starrgt3{
   border: solid rgb(216, 216, 216);
   border-left: 0px;
   border-top: 0px;
   border-bottom: 0px;
   outline: none;
   padding: 20px;
   padding-right: 70px;
   transition: opacity 250ms ease-in, transform 400ms ease-in;
   transform: rotate(-45deg);
   opacity: 0;
 }
 .starrgt3.appear{
    /* transform: rotate(30deg); */
    transform: rotate(0);
    opacity: 1;
 }

.starrgt4{
   border: solid rgb(216, 216, 216);
   border-left: 0px;
   border-top: 0px;
   border-bottom: 0px;
   border-right: 0px;
   outline: none;
   padding: 20px;
   padding-left: 70px;
   transition: opacity 250ms ease-in, transform 400ms ease-in;
   transform: rotate(45deg);
   opacity: 0;
 }
 .starrgt4.appear{
    /* transform: rotate(30deg); */
    transform: rotate(0);
    opacity: 1;
 }

.fa-times{
   padding: 20px;
   border-radius: 30px;
   background-color: #138AB9;
   display: flex;
   margin-left: 100PX;
   margin-bottom: 10px;
   color: #fff;
}

.fa-star{
   color: #138AB9;
}

.ship{
    background:linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%), url(./image/605fa5a0cc41f.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-bottom: 20px;
}

.h4class{
   display: flex;
   justify-content: end;
   align-items: center;
   color: #fff;
   padding-top: 130px;
   margin-right: 100px;
   font-size: large;
   transition: opacity 250ms ease-in, transform 400ms ease-in;
   transform: translateY(-30%);
   opacity: 0;
}

.h4class.appear{
   transform: translateY(0);
   opacity: 1;
}

.shipi{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 0px;
   color: #fff;
   gap: 300px;
   /* font-size: 30px; */
   padding-top: 10px;
   transition: opacity 250ms ease-in, transform 400ms ease-in;
   transform: translateY(30%);
   opacity: 0;

}
.shipi.appear{
   transform: translateY(0);
   opacity: 1;
}
.shipic{
   display: flex;
   flex-direction: column;
   font-size: 25px;
}

.fa-users{
   padding: 20px;
   border-radius: 40px;
   background-color: #54595F;
   display: flex;
   color: #fff;
   font-size: 30px;
}

.fa-facebook{
   padding: 20px;
   border-radius: 30px;
   background-color: #54595F;
   display: flex;
   color: #fff;
}

.shipic h5{
   margin-left: 11px;
   margin-top: 10px;
   font-size: 20px;
}

.ship2ic{
   display: flex;
   justify-content: center;
   /* align-items: center; */
   gap: 60px;

}

.ship2ic h3{
   /* font-size: 60px; */
   display: flex;
   justify-content: center;
   /* font-weight: bold; */
   margin-top: 20PX;
   margin-left: 90px;
   color: #000000;
   font-size: 65px;
   font-weight: 600;
}

.ship2icon{
   display: flex;
   flex-direction: column;

}
.ship2icon h5{
   font-size: 30px;
   margin-top: 40px;
   margin-bottom: 10px;
   
}
.ship2icon p{
   margin-left: 30px;
   color: #837E7E;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6em;
}

.ship2ic img{
   width: 620px;
   height: 450px;

}

.police{
   margin: 30px 0;
   padding: 50px;
}

.police img{
   width: 398px;
   height: 255px;
}

.police h3{
   font-size: 30px;
   padding-left: 130px;
}

.policecon{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.police1 h4{
   font-size: 18px;
   padding: 5px 0;
}

.police1 h6{
   line-height: 1.3em;
   font-size: 12px;
   margin-bottom: 10px;
   color: #adadad;
   
}

.police1 p{
   margin: 0;
   line-height: 1.5em;
   font-size: 14px;
   color: #777;
   transition: opacity 250ms ease-in, transform 400ms ease-in;
   /* transform: rotate(30dg); */
   opacity: 0;
}
.police1.appear{
   transform: translateX(0);
   opacity: 1;
}
.police1 p.appear{
   transform: translateX(30%);
   opacity: 1;
}

.read{
   padding: 10px 0;
   color: #54595F;
}

.div{
   display: flex;
   justify-content: center;
}

.almost{
   display: flex;
   justify-content: center;
   gap: 10px;
   width: 100%;
   margin-bottom: 20px;
}

label{
   color: #54595F;
}

.almost h3{
   width: 30%;
   margin-top: 60px;
   font-size: 15px;
   line-height: 15px;
   color: #837E7E;
   font-weight: 200 ;
}

.almost form{
   width: 50%;
   border: 5px solid #dfdfdf;
   padding: 30px 10px;
   height: 87vh;
   transition: opacity 250ms ease-in, transform 400ms ease-in;
   transform: translatex(30%);
   opacity: 0;

}
.almost form.appear{
   transform: translateX(0);
   opacity: 1;
}


.formcon{
   display: flex;
   flex-direction: column;
}

.formcon label{
   border-bottom: 1px solid #837E7E;
   padding-top: 20px;
   padding-bottom: 7px;
   margin-bottom: 5px;
   font-size: 20px;
   padding-left: 20px;
   padding-right: 20px;
}

input{
   border: none;
   outline: none;
}

.formcon input{
   outline: none;
   padding: 10px;
   border-bottom: 1px solid #837E7E;
   font-size: 15px;
   padding-left: 30px;
   padding-right: 20px;
   /* border: none; */

}

textarea{
   border-left: 1px;
   border-right: 1px;
   height: 100px;
}

.submit{
   background-color: #138AB9;
   color: white;
   width: 100%;
   height: 40px;
   margin-top: 10px;
}

.foot{
   background:url(./image/footer\ \(1\).jpg);
   background-size: cover;
   background-position: center;
   display: grid;
   grid-template-columns: 1fr 6fr 6fr 3fr 7fr 5fr;
   column-gap: 20px;
   overflow: hidden;
   height: 55vh;
   /* padding: 30px; */
}

.foot1{
   /* transform: translateX(-70%); */
   transform: translateY(30%);
   background:linear-gradient( rgba(0,0,0,0.9)50%);
   margin-left: -9%;

}

.foot2{
   color: #fff;
   margin-top: 70px;
}

.foot2 h5{
   line-height: 20px;
}

.foot3{
   color: #fff;
   margin-top: 70px;
}

.foot3sub1{
   display: flex;
   align-items: center;
   gap: 10px;
}

.foot3sub1 h5{
   line-height: 22px;
}

.formfoot{
   color: #fff;
   margin-top: 00px;
   background-color: #015e83 ;
   padding: 70px 30px;
   height: 50vh;
   
}

.fade-in{
   opacity: 0;
   transition: opacity 500ms ease-in;
}
.fade-in.appear{
   opacity: 1;
}

.flip-box2 {
   background-color: transparent;
   width: 350px;
   height: 350px;
   border: 1px solid #f1f1f1;
   perspective: 1000px; 
   transform: translateY(-50%);
 }
 .flip-box2{
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  /* transform: rotate(30dg); */
  opacity: 0;
}

.flip-box2.appear{
  transform: translateY(0);
  opacity: 1;
}

 
 .flip-box2-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }
 
 .flip-box2:hover .flip-box2-inner {
   transform: rotateY(180deg);
 }

  .flip-box2-front2, .flip-box2-back2 {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; 
   backface-visibility: hidden;
 }

 .flip-box2-front2 {
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./image/20210403_1616490.jpg);
   background-position: center;
   background-size: cover;
 }
 
 .flip-box2-back2 {
   background-color: dodgerblue;
   color: white;
   transform: rotateY(180deg);
   background:linear-gradient(to top, rgba(0,0,0,0.9)50%,rgba(0,0,0,0.9)50%), url(./image/20210403_1616490.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
    flex-direction: column;
   align-items: center;
   padding: 50px;
}

 .flip-box2-back2 h3 {
   background-color: transparent;
   border: 1px solid #fff;
   padding: 10px;
   cursor: pointer;
}
.flip-box2-back2 h3:hover{
  background-color: #138AB9;

}

.flip-box3 {
   background-color: transparent;
   width: 350px;
   height: 350px;
   border: 1px solid #f1f1f1;
   perspective: 1000px; 
   transform: translateY(50%);
 }
 .flip-box3{
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  /* transform: rotate(30dg); */
  opacity: 0;
}

.flip-box3.appear{
  transform: translateY(0);
  opacity: 1;
}

 
 .flip-box3-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }
 
 .flip-box3:hover .flip-box3-inner {
   transform: rotateY(180deg);
 }

.flip-box3-front3, .flip-box3-back3 {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; 
   backface-visibility: hidden;
 }
 
 .flip-box3-front3 {
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./image/IMG-20210403-WA0014.jpg);
   background-position: center;
   background-size: cover;
 }
 
 .flip-box3-back3 {
   background-color: dodgerblue;
   color: white;
   transform: rotateY(180deg);
   background:linear-gradient(to top, rgba(0,0,0,0.9)50%,rgba(0,0,0,0.9)50%), url(./image/IMG-20210403-WA0014.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
    flex-direction: column;
   align-items: center;
   padding: 50px;
} 

 .flip-box3-back3 h3 {
   background-color: transparent;
   border: 1px solid #fff;
   padding: 10px;
   cursor: pointer;
}
.flip-box3-back3 h3:hover{
  background-color: #138AB9;

} 

.footgg{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0,0,0,0.9);
   /* background: transparent; */
   gap: 25%;
   /* background-color: black; */
   border-bottom: 1px;
   /* background:linear-gradient(to top, rgba(0,0,0,0.9)50%,rgba(0,0,0,0.9)50%), url(./image/maritime-vessel.jpg); */
   height: 6vh;
   margin-top: -30px;
 
}

.footgg h4{
   color: #fff;
}

.fa-arrow-up{
   background-color: rgba(0,0,0,0.8);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   margin-left: 5%;
   position: fixed;
   bottom: 23px;
   left: 28px;
   z-index: 657689;
   /* transform: translateY(-109%); */
   /* overflow: hidden; */
}
/* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  /* right: 15px; */
  border: 3px solid #f1f1f1;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} */

@media (max-width: 1118px) {
   .nav{
      display: none;
   }
   .landing{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: -20%;
   }
   .landing h2{
       display: flex; 
       justify-content: center; 
       align-items: center;
       flex-direction: column;
      font-size: 25px;
      margin-left: -25%;
      padding-bottom: 30px;

   }
   .landing H1{
      display: flex; 
      justify-content: center; 
      align-items: center;
      flex-direction: column;
      font-size: 40px;
      width: 100%;
      margin-left: -35%;
      
   }
   .landing p{
      margin-left: -120px;
      font-size: 15px;
      line-height: normal;
      letter-spacing: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .f{
      margin-top: -18px;
   }
   .landing h3{
      margin-left: -35%;
      margin-top: 20px;
      font-size: 13px;
      padding: 10px 10px;
   }

   .bord{
      display: flex;
      justify-content: center;
      /* padding-left: 35%; */
      align-items: center;
      font-size: 20px;
      flex-direction: column;
      padding: 10px 0;
   }
   .imagebox{
      display: flex;
      flex-direction: column;
      height: 150vh;
      align-items: center;
      justify-content: center;

   }

   .flip-box1{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 90%;
      height: 50vh;


   }
   .flip-box2{
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-top: 10px; */
      width: 90%;
      height: 50vh;


   }
   .flip-box3{
      display: flex;
      justify-content: center;
      align-items: center;
      /* margin-top: 10px; */
      width: 90%;
      height: 50vh;
   }
   .container1{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px 0;
      width: 100%; 

      height: 100vh;
   }
   .container1 img{
      width: 150%; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -15%;
   }
   .contin p{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      line-height: 25px;
   }
   .star{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }
   .starrgt{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin-top: 20px;
      color: #54595F;
      
   }
   .starrgt1{
      border: none;
      padding: 0;
   }
   .starrgt2{
      border: none;
      padding: 0;
      margin-left: -15%;
   }
   .starrgt3{
      border: none;
      padding: 0;
      margin-left: -23%;
   }
   .starrgt4{
      border: none;
      padding: 0;
    
   }
   .ship{
      height: 70vh;
      width: 100%;

      
   }
   .h4class{
      display: flex;
      justify-content: left;
      font-size: 13px;
      margin-left: 8%;
      margin-top: 50px;
      
   }
   .shipi{
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 0px;
      row-gap: 0px ;
      font-size: 10px;
   }
   .shipic:first-child{
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;
      padding: 10px 90px;
   }
   .shipic:nth-child(2){
      /* border-right: 1px solid gray; */
      border-bottom: 1px solid gray;
      padding: 10px 90px;
   }
   .shipic:nth-child(3){
      border-right: 1px solid gray;
      padding: 10px 90px;
   }
   .shipic:nth-child(4){
      padding: 10px 90px;
   }

   .shipi h5{
      font-size: 15px;
   }

   .ship2ic{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px 0; 
      margin-top: 20px;
   }
   .ship2ic img{
      width: 150%; 
      display: flex;
      justify-content: center;
      width: 90%;
      height: 321px; 
      align-items: center;
   }
   .ship2icon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .ship2icon H3{
      display: flex;
      justify-content: left;
      font-size: 35PX;
   }
   .ship2iconb{
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
   }
   .ship2iconb h5{
      display: flex;
      flex-direction: column;
      margin-left: 0;
      /* justify-content: center; */
      /* align-items: center; */
   }
   .fa-user{
      margin-bottom: 30px;
   }

}


